<h2>Password Reset</h2>
<br>
<form [formGroup]= "form">
    <div class="form-group">
        <label for="old"><strong>Old Password</strong></label>
        <input formControlName="oldPassword" id="old" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="old.touched && old.invalid">
            <div *ngIf="old.errors.required">
                Old Password is required.
            </div>
            <div *ngIf="old.errors.validatePassword">
                Old Password is incorrect.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="new">New Password</label>
        <input formControlName="newPassword" id="new" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="new.touched && new.invalid">
            New Password is required.
        </div>
    </div>
    
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input formControlName="confirmPassword" id="confirm" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="confirm.touched && confirm.invalid">
            <div *ngIf="confirm.errors.required">
                Confirm Password is required.
            </div>
        </div>
        <div *ngIf="confirm.valid && confirm.touched && form.invalid && form.errors.confirmPassword" class="alert alert-danger"> 
            Password don't Match.
        </div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid || form.pending">Change Password</button>
    </div>
</form>